body{
    display: flex;
    place-items: center;
}
.quadrado{
    width: 600px;
    height: 800px;
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    align-self: center;
}

form{
    margin: auto;
    margin-top: 20px;
}

#mae{
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

